* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
    height: 99vh;
}

#wrap {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    position: relative;
}

#title {
    background-image: url("./header.jpg");
    height: 38vh;
    background-size: cover;
    background-position: center;
}

#title h1 {
    padding: 30px;
    color: #fdfef6;
    text-shadow: 2px 2px #c2c105;
}

#menu {
    height: 50vh;
    width: 30%;
    float: left;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    background-color: #add9e4;
    padding: 2px;
}

#menu h4 {
    color: white;
    background-color: #0000fe;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#menu a {
    width: 95%;
    color: #0000fe;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    border-bottom: solid 1px white;
    margin: auto;
}

#menu a:hover {
    background-color: #ffc0cb;
}

#content {
    height: 50vh;
    width: 70%;
    float: right;
    padding: 20px;
}

#content p {
    line-height: 20px;
    margin-bottom: 15px;
}

#content h4 {
    color: blue;
    font-size: 20px;
    margin-bottom: 15px;
}

#footer {
    position: absolute;
    border-top: solid 1px grey;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    width: 98%;
    text-align: center;
}