* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    border: solid 1px red;
}

h3 {
    color: red;
    display: block;
    text-align: center;
    padding: 5px;
}

.menu-container {
    padding: 10px;
}

.grid-col-4-6 {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 15px;
}

.grid-col-4-6 input {
    height: 20px;
    line-height: 20px;
}

.grid-col-4-6 img {
    height: 100px;
}



