table {
    border: solid 1px;
    border-collapse: collapse;
    margin-top: 10px;
}

table td {
    border: solid 1px;
    border-collapse: collapse;
    padding: 10px;
}

table th {
    border: solid 1px;
    padding: 10px;
    border-collapse: collapse;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    border: solid 1px red;
    background: #e4e4ec;
}

h3 {
    color: red;
    display: block;
    text-align: center;
    border-bottom: dotted 1px red;
    padding: 5px;
}

.logout-btn {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
}

.logout-btn input {
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px 5px white;
    background-color: gray;
    font-weight: bold;
}

.menu-container {
    padding: 10px;
}

.product-info {
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
}

a img {
    height: 20px;
}

.logout-btn input:hover {
    cursor: pointer;
}

.product-search-container {
    margin: 10px 0;
}

#show-product-detail {
    color: blue;
}

#show-product-detail {
    cursor: pointer;
}

.grid-col-4-6 {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 15px;
}

.grid-col-4-6 input {
    height: 20px;
    line-height: 20px;
}

#product-img {
    height: 100px;
    transition: transform .5s ease-in-out;
}

#product-img:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: scale(6);
    position: relative;
    z-index: 9999;
}

#dark-layer {
    display: none;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.5;
    position: fixed;
    top: 0;
    z-index: 99;
}
