* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.tkb {
    border: solid 1px;
    border-top-color: grey;
    border-left-color: grey;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    width: 150px;
    height: 30px;
    border: solid 1px;
    border-right-color: grey;
    border-bottom-color: grey;
    background-color: #95e1d3;
}

td {
    width: 150px;
    height: 30px;
    border: solid 1px;
    border-right-color: grey;
    border-bottom-color: grey;
    background-color: #e4f8cc;
}

td:hover {
    background-color: #f38181;
}

.data {
    background-color: #fce38a;
}

h1 {
    padding: 30px
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 80% 20%;
}

.footer {
    text-align: center;
}